<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>cicloServlet</servlet-name>
        <servlet-class>servlets.cicloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cursoServlet</servlet-name>
        <servlet-class>servlets.cursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carreraServlet</servlet-name>
        <servlet-class>servlets.carreraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ofertaServlet</servlet-name>
        <servlet-class>servlets.ofertaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profesorServlet</servlet-name>
        <servlet-class>servlets.profesorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alumnoServlet</servlet-name>
        <servlet-class>servlets.alumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroServlet</servlet-name>
        <servlet-class>servlets.registroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seguridadServlet</servlet-name>
        <servlet-class>servlets.seguridadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cicloServlet</servlet-name>
        <url-pattern>/cicloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cursoServlet</servlet-name>
        <url-pattern>/cursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carreraServlet</servlet-name>
        <url-pattern>/carreraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ofertaServlet</servlet-name>
        <url-pattern>/ofertaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profesorServlet</servlet-name>
        <url-pattern>/profesorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alumnoServlet</servlet-name>
        <url-pattern>/alumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroServlet</servlet-name>
        <url-pattern>/registroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seguridadServlet</servlet-name>
        <url-pattern>/seguridadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
